$ease-expo-inOut: cubic-bezier(0.87, 0, 0.13, 1);
$ease-expo-out: cubic-bezier(0.16, 1, 0.3, 1);
$ease-power3-out: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-power4-out: cubic-bezier(0.22, 1, 0.36, 1);