@import "eases";
@import "experience";
@import "404";

@font-face {
  font-family: 'HomemadeApple';
  src: url('/src/assets/fonts/HomemadeApple-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SometypeMono';
  src: url('/src/assets/fonts/SometypeMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;

  @media screen and (max-width: 992px) {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }

  &::selection {
    // not set yet
  }
}

html, body {
  background: black;
  overscroll-behavior: none;
}

.tp-dfwv {
  width: 280px !important;
}

///////////////////////////////////////////////////////////////

a {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}