<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover"/>
    <meta name="description" content="En tombant sur une vieille photo au grenier, Dahlia découvre un passé mystérieux... Plongez avec elle dans les années 80 et dévoilez les secrets de sa mère, Mona."/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-TileColor" content="#303030"/>
    <link rel="icon" type="image/png" sizes="all" href="/assets/favicon/favicon.png"/>
    <meta name="theme-color" content="#ffffff"/>

    <meta name="og:type" content="website">
    <meta name="og:url" content="/">
    <meta name="og:title" content="Là où poussent les fleurs">
    <meta name="og:description" content="En tombant sur une vieille photo au grenier, Dahlia découvre un passé mystérieux... Plongez avec elle dans les années 80 et dévoilez les secrets de sa mère, Mona."/>
    <meta name="og:image" content="<%= baseUrl %>/assets/favicon/sharing.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="/">
    <meta name="twitter:title" content="Là où poussent les fleurs">
    <meta name="twitter:description" content="En tombant sur une vieille photo au grenier, Dahlia découvre un passé mystérieux... Plongez avec elle dans les années 80 et dévoilez les secrets de sa mère, Mona."/>
    <meta name="twitter:image" content="<%= baseUrl %>/assets/favicon/sharing.png">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/sharing.png"/>
    <link rel="icon" type="image/png" sizes="all" href="/assets/favicon/sharing.png"/>

    <title>Là où poussent les fleurs</title>
</head>
<body>
<div id="app"></div>
<script type="module" src="/src/main.js"></script>
</body>
</html>